body{
    background-color: #19bd9b;
    width: 100%; 
}
.main-container{
    max-width: 1000px;
}
.logo{
    margin-top: 90px;
    margin-bottom: 30px;    
}
.logo img{
    max-width: 290px;
}
#plane{
    top: 220px;
    position: absolute;
    width: 700px;
    right: 10%;
}
.title-top{
    font-size:30pt ;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -28px;
}
.title-bottom{
    font-size: 39pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 35px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
}
.paragraph{
    font-size:18pt ;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.paragraph_small{
    font-size:14pt ;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-top: 25px;
}

@media(max-width:967px){
    #plane{
        right:1%;
    }
}

@media(max-width:800px){
    #plane{
        right:1%;
    }
}
@media(max-width:768px){
    .main-container{
	text-align: center;
    }
    .title-top{
        font-size: 18pt;
        text-align: center;
    }
    .title-bottom{
        font-size: 24pt;
        margin-top: 17px;
        text-align: center;
    }
    .paragraph {
        font-size: 14pt;
        margin: 30px 0;
        margin-left: 60px;
        margin-right:60px;
        text-align: center;
    }

    .paragraph_small {
        font-size: 10pt;
        margin: 50px 0;
        text-align: center;
    }

    .logo{
        text-align: center;
	    width: 100%;
    }
    .logo img{
	margin: 0 auto;
    }
    .social{
        text-align: center;
    }
    .social>ul{
        margin: 0;
    }
}

@media(max-width:509px){

    .logo {
        margin-top: 65px;
    }

    .title-top{
        font-size: 22pt;
        text-align: center;
    }
    .title-bottom{
        font-size: 18pt;
        margin-top: 17px;
        text-align: center;
    }
    .paragraph {
        font-size: 14pt;
        margin: 30px 0;
        text-align: center;
    }

}